{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


    <img class="profile-image" src="{% static 'profilepic.jpg' %}" style = "height:700px; width:600px; border-radius:25px;float:left;" alt="Italian Trulli">

    <h1 id="profile-name">Jacob Reilly</h1>
    <h2 id="profile-occupation">Computer Science Student / Technology Degree Apprentice</h2>
    <h3 id="profile-about">I am a Computer Science Student at the University of Birmingham studying with a technology degree apprentice for PWC.
        As part of this apprenticeship, I am completing a normal Computer Science degree whilst also taking a couple of business/finance modules
        and completing summer work placements as well as a year in industry with PWC in my 3rd year.</h3>
    <ul class="icon-links">

        <li><a href="https://www.linkedin.com/in/jacob-reilly-8437031a3/"><img class="icon" src="{% static 'linkedin.png' %}"><h3>Linkedin</h3></a></li>
        <li><a href="https://github.com/Reilly910"><img class="icon" src="{% static 'github.svg' %}"><h3>Github</h3></a></li>
        <li><a href="/CV"><img class="icon" src="{% static 'cv.png' %}"><h3>CV</h3></a></li>


    </ul>
    
    
        

   


{% endblock %}